config.env
*node_modules
package-lock.json
bun.lock
*session
test/
database/
temp/
tmp/
src/plugins/eplugins
*.mp4
*pvv.js
bin/
baileys_store.db
baileys_store.db-wal
baileys_store.db-shm
yarn.lock
data
src/data